/* Add default styles for headings */
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
    font-weight: bold;
    font-size: larger;
  }
  
  /* Add styles for paragraphs */
  p {
    margin: 1em 0;
  }
  
  /* Add styles for links */
  a {
    font-weight: bold;
  }
  
  /* Add styles for lists */
  ul, ol {
    margin: 1em 0;
    padding-left: 1.5em;
  }
  
  /* Add styles for list items */
  li {
    margin: 0.5em 0;
  }
  
  /* MarkdownRenderer.css */
  .container {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); /* Create flexible columns with a minimum width of 200px */
    gap: 10px; /* Add a gap between the cards */
  }
  
  .item {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  
  .item:hover {
    transform: translateY(-5px);
  }
  
  